* {
    box-sizing: border-box;
  }

  #main {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;

  }

  main {
    display: block;
  }

#img-div {
    padding: 15px;
    margin: 0;
    background-color: white;
}



figure {

    display: block;
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  
  #img-caption {
    margin-top: 10px;
    font-size: 0.7em;
  }
