


img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 15px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
  font-size: small;
}

#info ul {
  list-style-type: none;
  padding: 0;
  display: block;
  justify-content: center;
}

#info li {
  font-size: 1rem;
  margin: 10 0px;
}

a {
  text-decoration: none;
}