* {
  box-sizing: border-box;
}

#header {
  background-color: white;
  padding: 15px;
  margin-bottom: 30px;
  text-align: center;
}

#title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

#description {
  font-weight: 400;
  font-size: 1rem;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  background-color: #e8ebed;
  margin: 0;
}

#main {
  margin: 0 auto;
  max-width: 900px;
  padding: 15px;
  border-radius: 5px;
  background: #e8ebed;
}

.text-main {
  font-weight: 300;
}

.smaller-h {
  margin-top: 90px;
  margin-bottom: 50px;
  font-weight: 550;
  text-align: center;
  font-size: 1.5rem;
}

.gallery-type {
  margin: 50px;
  font-weight: 500;
}

#quote {
  font-style: italic;
  font-size: 0.9rem;
  font-weight: 100;
  text-align: center;
  margin: 90px 0;
}

#image {
  align-items: center;
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

#img-div {
  background: white;
  padding: 30px;
  border-radius: 5px;
}

#img-caption {
  margin: 15px 0 5px 0;
  font-size: small;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
  border-radius: 5px;
}

.gallery::after {
  content: "";
  width: 100%;
}

.container {
  position: relative;
}

.container .container-img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 15px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.container:hover .overlay {
  opacity: 1;
}

#info {
  padding: 10px;
  text-align: center;
}

#info ul {
  list-style-type: none;
  padding: 0;
  display: block;
  justify-content: center;
}

#info li {
  font-size: 0.9rem;
  margin: 10 0px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #74638f;
}

#other-pages {
  font-size: 0.7rem;
}